.table {
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: 16px;
}

.header {
    height: 35px;
    background-color: var(--smoke);
    color: var(--black);
}

.bodyRow {
    height: 35px;
}

tr:hover{
    background-color: var(--medium-blue);
    color: var(--white);
}

tr:nth-child(even) {
    background-color: var(--light-smoke);
    color: var(--black);
}

tr:nth-child(odd) {
    background-color: var(--white);
    color: var(--black);
}