.table {
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    border: 0px solid transparent;
}

.header {
    height: 50px;
    background-color: var(--smoke);
    color: var(--black);
}

th {
    text-align: left;
    border: 0 
}

.bodyRow {
    height: 50px;
}

.bodyRow:nth-child(odd) {
    background-color: var(--light-smoke);
    color: var(--black);
}

.bodyRow:nth-child(even) {
    background-color: var(--white);
    color: var(--black);
}

.bodyRow:hover {
    background-color: var(--medium-blue);
    color: var(--white);
}

td {
    text-align: left;
    border: 0 
}