.main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #D2EFFF;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.playerHeader {
    text-align: left;
    margin-top: 20px;
}