.main {
    max-width: 100%;
    height: 1000px;
    overflow: scroll;
    background-color: #D2EFFF;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.header1 {
    display: flex;
    justify-content: left;
    position: relative;
}

.headerTitle {
    text-align: left;
    margin-left: 35px;
}

.headerButtons {
    border: 0px;
    background-color: #FFFFFF;
    color: black;
}

h4 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}