Nav {
    font-size: 16pt;
    background-color:#FFFFFF;
}

.navLabel {
    color: var(--burnt-orange);
    margin-top: 10px;
}

.navBall {
    color: var(--burnt-orange);
    font-size: 35px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 40px;
}

